#!/bin/bash

ip addr add 10.0.0.1/16 dev br0
killall dnsmasq
ip link set down lxcbr0 
brctl delbr lxcbr0
iptables-restore < /etc/iptables
ip6tables-restore < /etc/ip6tables
sudo systemctl restart isc-dhcp-server
